<!-- Attributes list items only generated if they exist in the database -->
<!-- Need to make it so edit and delete buttons only appear if ownership -->
<div class="hidden-no-results npc-readout-div" id="hidden-no-results-1">Contribute to the realm. <br />Make some NPCs!</div>
