$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Body
#body {
  padding-right: 0px !important;
}

body {
  height: 1000px;
  background-size: cover;
  background-attachment: fixed;
}
// Body

// Title screen
.home-header {
  font-size: 161px;
  left: 39%;
  position: relative;
  top: 34%;
}
// Title Screen

// Start - Nav Bar
.nav-button {
  display: inline-block;
  float: right;
  font-size: 18px;
  margin-left: 23px;
  padding: 10px;
  margin-top: 25px;
}

.nav-wrapper {
  margin-right: 25px;
}
// End - Nav Bar

// Start - Modals
.attribute-dropdown,
.ownership-dropdown {
  width: 150px;
}

.drop-down-label {
  text-align: right;
}

.search-npc-set-width {
  width: 400px !important;
}

.row-1,
.row-2 {
  padding-left: 17%;
  margin-bottom: 2%;
}

.input-div {
  padding-left: 9px !important;
  padding-right: 0px !important;
}

.user-needs-username {
  padding-left: 17%;
}

.form-control {
  border: 1px solid #515151 !important;
}

.modal {
  overflow-y: scroll !important;
}

#inputPrivacySetting {
  height: 14px;
  width: 14px;
  margin-top: 9px;
}

.close-modal {
  border: 0;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 1px;
  position: absolute;
  right: 2%;
  margin-top: 4px;
}

.log-in-modal-content,
.register-modal-content,
.change-pw-modal-content,
.create-npc-modal-content {
  // padding: 10px 65px 30px 0;
  padding: 0 38px 16px 0;
  // padding: 0 65px 30px 0;
}

.space-div {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.universal-response-modal,
.universal-response-modal-content {
  font-size: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.row-1,
.row-2 {
  height: 60px;
  margin-right: 45px;
}

.row-1 {
  padding-top: 25px;
}

.row-2 {
  padding-top: 10px;
}

.row-3 {
  height: 115px;
}

#search-npc-modal-button {
  margin-left: 73.666666666667%;
  margin-top: 10px;
}

#inputAttribute {
  margin-top: 10px;
}

.control-label {
  padding-right: 0px !important;
}

#abil-label,
#spells-label {
  padding-left: 21px;
}

#search-npcs-modal {
  position: absolute;
  top: 60%;
}
// End - Modals

// Start - User Profile Page
.left-column {
  position: relative;
  left: 3%;
}

.right-column {
  position: relative;
  right: 3%;
}

.static-header {
  font-size: 64px;
  text-align: center;
  position: absolute;
  left: 8%;
  margin-top: 24px;
}

.universal-content-header {
  text-align: center;
  font-size: 47px;
  margin-top: 113px;
}

.user-profile-page {
  // background: yellow;
  height: 700px;
  margin: 0 auto;
  max-width: 1130px;
}

.create-npc-button {
  margin-top: 60%;
}

.view-npcs,
.view-personal-npcs,
.search-npcs-button {
  margin-top: 5%;
}

.profile-button {
  height: 65px;
  font-size: 17px;
  border: 0;
}

.resource-example {
  height: 320px;
}

.left-column {
  height: 700px;
}

.middle-column {
  height: 700px;
}

.right-column {
  height: 700px;
}

.ex-1,
.ex-3 {
  padding-top: 7%;
}

.ex-2,
.ex-4 {
  margin-top: -12%;
}

.profile-button-wrapper {
  position: relative;
  bottom: 7%;
}
// End - User Profile Page

// Start - NPC Readout
.like-npc {
  margin-left: 6%;
}

.export-pdf-2 {
  height: 34px;
}

.readout-button-wrapper {
  margin-bottom: 1%;
  margin-left: 33%;
}

.single-readout-button {
  margin-right: 1%;
}

.readout-view-larger-button {
  margin-left: 36%;
  margin-bottom: 4%;
}

.readout-ul {
  width: 77%;
  position: relative;
  bottom: 7%;
  padding-left: 10%;
}

.npc-readout-div {
  // display: inline-block;
  // background-color: whitesmoke;
  // border: 1px solid black;
  border-radius: 10px;
  height: 225px;
  margin-top: 3%;
  overflow: auto;
  margin-bottom: 0;
  border: 1px solid;
}

.get-npc-div {
  margin-right: 77px;
}

.npc-readout-name {
  display: inline-block;
  width: 65%;
  font-size: 18px;
  padding-left: 5%;
  word-wrap: break-word;
  padding-bottom: 25px;
}

.npc-icon {
  display: inline-block;
  width: 29%;
  height: 29%;
  float: right;
  margin-top: 5%;
}

.readout-li {
  clear: right;
}

.single-icon-wrapper {
  position: static;
}

.single-icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  float: right;
  position: absolute;
  left: 80.5%;
  top: 37%;
}

.single-npc-readout-modal-set-width {
  width: 595px !important;
}

.readout-ul-single {
  width: 78%;
  margin-bottom: 3%;
}

.readout-li-single {
  border-bottom: 1px solid;
}

.single-npc-readout-div {
  padding-bottom: 16px;
}

.single-header {
  font-size: 35px;
  text-align: center;
  margin-top: -23px;
}

.npc-readout-property-single,
.readout-value-single {
  font-size: 20px;
}

.samples-header {
  font-size: 21px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: -5%;
  padding: 4px;
}

.hidden-no-results {
  font-size: 17px;
  text-align: center;
  padding-top: 25%;
}

.no-search-results {
  width: 300px;
  height: 300px;
  padding-top: 9%;
  margin: 0 auto;
  margin-top: 12%;
}

.d20-image-1 {
  height: 20px;
  width: 20px;
}

// End - NPC Readout

// Start - Folders *******************************

// .folders-readout-div {
  // height: 55%;
  // background-color: white;
  // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  // margin-top: 2%;
  // border: 2px solid black;
  // border-radius: 13px;
  // overflow: auto;
  // padding-bottom: 3%;
// }

.folder-div {
  margin-top: 4%;
  text-align: center;
  height: 207px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 1%;
  width: 32.33333333333333333% !important;
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding-top: 1.5%;
}

.folder {
  font-size: 70px;
  color: #1F71BA;
}

.folder:hover {
  cursor: pointer;
}

.folder-title {
  font-family: 'Cinzel', serif;
  font-size: 16px;
  font-weight: bold;
}

.num-of-npcs-num {
  color: #1F71BA;
}

.num-of-npcs-text {
  text-decoration: underline;
}

.input-folder-div {
  width: 76.33333333333% !important;
  margin-top: 2%;
  margin-left: 1%;
}

.create-folder-modal-content {
  padding: 3%;
  padding-bottom: 0;
}

.d-folder {
  font-size: 17px;
  color: #1F71BA;
  display: inline-block;
}

.e-folder {
  font-size: 17px;
  color: black;
  display: inline-block;
  margin-left: 4%;
}

.d-folder:hover,
.e-folder:hover {
  cursor: pointer;
}

// End - Folders *********************************

// Start - Media Queries
@media (max-width: 1049px) {
  .static-header {
    font-size: 57px;
    left: 9%;
    margin-top: 21px;
  }
}

@media (max-width: 1029px) {
  .home-header {
    left: 33%;
  }
}

@media (max-width: 991px) {
  .log-in-modal-content,
  .register-modal-content,
  .change-pw-modal-content,
  .create-npc-modal-content {
    // padding: 5px 25px 10px 15px;
    padding: 0px 25px 10px 15px;
  }
}

@media (max-width: 973px) {
  .profile-button {
    font-size: 13px;
    height: 45px;
  }
}

@media (max-width: 900px) {
  .home-header {
    font-size: 139;
  }

  .nav-wrapper {
    margin-right: 9px;
  }

  .nav-button {
    font-size: 15px;
    padding: 8px;
  }

  .static-header {
    font-size: 53px;
  }

  .universal-content-header {
    font-size: 44px;
  }

}

@media (max-width: 849px) {
  .static-header {
    font-size: 43px;
    margin-top: 18px;
  }

  .universal-content-header {
    font-size: 37px;
  }
}

@media (max-width: 818px) {
  .profile-button {
    font-size: 11px;
  }
}

@media (max-width: 784px) {
  .home-header {
    font-size: 121px;
  }
}

@media (max-width: 767px) {
  .space-div {
    margin-bottom: 20px;
  }
}

@media (max-width: 747px) {
  .home-header {
    left: 31%;
  }

  .nav-button {
    font-size: 14px;
    padding: 8px;
    margin-left: 16px;
    margin-top: 20px;
  }

  .static-header {
    font-size: 37px;
    left: 10%;
  }

  .universal-content-header {
    font-size: 33px;
  }

  .user-needs-username {
    padding-left: 0;
  }
}

@media (max-width: 690px) {
  .home-header {
    font-size: 115px;
  }
}

@media (max-width: 660px) {
  .profile-button {
    font-size: 10px;
  }
}

@media (max-width: 630px) {
  .home-header {
    font-size: 95px;
  }

  .nav-button {
    padding: 6px;
    margin-top: 16px;
    margin-left: 12px;
  }

  .static-header {
    left: 10%;
    margin-top: 15px;
    font-size: 33px;
  }

  .universal-content-header {
    font-size: 28px;
    margin-top: 77px;
  }

  #inputPrivacySetting {
    margin-top: 0px;
  }
}

@media (max-width: 570px) {
  .nav-button {
    font-size: 13px;
  }

  .static-header {
    font-size: 29px;
    left: 10%;
    margin-top: 14px;
  }

  .universal-content-header {
    font-size: 23px;
  }

  .profile-button {
    font-size: 9px;
  }
}

@media (max-width: 530px) {
  .home-header {
    font-size: 80px;
  }
}

@media (max-width: 500px) {
  .universal-response-modal,
  .universal-response-modal-content {
    font-size: 15px;
  }
}

@media (max-width: 489px) {
  .nav-button {
    padding: 5px;
    margin-top: 14px;
    margin-left: 10px;
    font-size: 10px;
  }

  .static-header {
    left: 12%;
    margin-top: 11px;
  }

  .universal-content-header {
    font-size: 19px;
    margin-top: 65px;
  }
}

@media (max-width: 453px) {
  .home-header {
    font-size: 69px;
  }
}

@media (max-width: 448px) {
  .nav-button {
    padding: 4px;
  }

  .static-header {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  .home-header {
    font-size: 56px;
    left: 37%;
  }

  .profile-button {
    font-size: 8px;
  }
}
