$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Start - Body
#body {
  padding-right: 0px;
}
// End - Body

// Start - Home Page
body {
  // background-image: url('https://images.unsplash.com/photo-1518562180175-34a163b1a9a6?ixlib=rb-0.3.5&s=401496832d9a3bbed1f236e78baf66b1&auto=format&fit=crop&w=1350&q=80');
  background-image: url('https://images.unsplash.com/photo-1515335500685-62c5e5e758bd?ixlib=rb-0.3.5&s=3b1159f0a4249151e422665e8a7e0598&auto=format&fit=crop&w=1534&q=80');
  // background-image: url('');
  font-family: 'Nanum Gothic', sans-serif;
}

.home-header,
.static-header {
  color: black;
  // font-family: 'Shadows Into Light', cursive;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Amatic SC', cursive;
  font-family: 'Berkshire Swash', cursive;
  opacity: .6;
}

.nav-button {
  background-color: #DEC7B7; // Tan (like building in background)
  border-radius: 18px;
  color: #6D6B6A; // Dark Grey (like home-header color)
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Great Vibes', cursive;
  // font-family: 'Satisfy', cursive;
  // font-family: 'Cookie', cursive;
  font-family: 'Lobster Two', cursive;
}

.nav-button:hover {
  background: #6D6B6A; // Dark Grey (like home-header color)
  color: #DEC7B7; // Tan (like building in background)
  box-shadow: none;
}

// End - home page

// Start - User Profile Page
.profile-button {
  background-color: #DEC7B7; // Tan (like building in background)
  border-radius: 18px;
  // color: #6D6B6A; // Dark Grey (like home-header color)
  color: #515151;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Great Vibes', cursive;
  // font-family: 'Satisfy', cursive;
  // font-family: 'Cookie', cursive;
}

.profile-button:hover {
  // background: #6D6B6A; // Dark Grey (like home-header color)
  background: #515151;
  color: #DEC7B7; // Tan (like building in background)
  box-shadow: none;
}

.universal-content-header {
  font-family: 'Nanum Gothic', sans-serif;
  // font-family: 'Maven Pro', sans-serif;
  // font-family: 'Rajdhani', sans-serif;
  // font-family: 'Poiret One', cursive;
}

.ex-1 {
  background-color: red;
}

.ex-2 {
  background-color: blue;
}

.ex-3 {
  background-color: green;
}

.ex-4 {
  background-color: black;
}

.left-column {
  background: orange;
}

.middle-column {
  background: purple;
}

.right-column {
  background: orange;
}
// End - User Profile Page

// Start - Modals
.log-in-modal-content,
.register-modal-content,
.change-pw-modal-content,
.create-npc-modal-content {
  border-radius: 18px;
  background-color: #A8BCCE; // light blue (like the background)
  color: #6D6B6A; // Dark Grey (like home-header color)
}

.close-modal {
  background-color: #A8BCCE; // light blue (like the background)
  border-color: #A8BCCE; // light blue (like the background)
  color: #6D6B6A; // Dark Grey (like home-header color)
}
// End - Modals

// Start - NPC Readout
.npc-icon {
  background-image: url('https://imgur.com/5KtrgTD.png');
  background-size: contain;
}
// End - NPC Readout
