$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// button:hover {
//   background-color: #82D7C6;
// }

// Start - User Profile Page
.ex-1 {
  background-color: red;
}

.ex-2 {
  background-color: blue;
}

.ex-3 {
  background-color: green;
}

.ex-4 {
  background-color: black;
}

.left-column {
  background: orange;
}

.middle-column {
  background: purple;
}

.right-column {
  background: orange;
}
// End - User Profile Page
